<ion-view title="Alpine Adventures">
    <ion-content overflow-scroll="true"  class="has-header">
       <div class="video">
                    <!--<video autoplay muted loop>
    <source src="http://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
    <source src="http://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg">
    
  </video>-->
  
   <div class="ent">

<h1 class=" bangers stable">Book your next adventure today!</h1>
        <div class="padding">
        <button id="alpineAdventures-button4" class="button button-block button-outline button-assertive"  ui-sref="menu.rivers">View Our Trips</button>
        </div>

</div>
           </div>
    
    <div class="float-content">       
        <div class="list card">
           
<div class="item item-divider bangers center white">Ready To Raft?</div>
            <div class="item item-body">
                
                <!--<ion-slide-box>
                    <ion-slide ng-repeat="slide in slides">
                        <img class="caption__media-sm" ng-src="{{slide.image}}">
                        <h2 class="comicaption bangers-sm">{{slide.caption}}</h2>
                    </ion-slide>
                   
                </ion-slide-box>-->

                <div class="button-bar">
                    <a href="tel:18007238386" id="alpineAdventures-button1" class="button button-assertive  button-block button-clear icon ion-ios-telephone item-text-wrap"> 1-800-723-8386 </a> <br>
                    
                    <button href="mailto:info@alpineadventures.com" id="alpineAdventures-button3" class="button button-assertive  button-block button-clear icon ion-email"> info@alpineadventures.com</button>
                </div>
            </div>
        </div>
        
        <div class="list card">
           <div class="item item-divider bangers center white">Wenatchee White Water</div>
            <div class="item item-body">
                <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;">
                    <iframe src="https://www.youtube.com/embed/c5G3rzVtRa8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider bangers center white">Find us on these networks</div>
            <div class="item item-body">
                <div class="button-bar">
                    <button href="https://www.facebook.com/pages/Alpine-Adventures/365244963118" id="alpineAdventures-button5" class="button button-assertive  button-block button-clear icon ion-social-facebook"></button>
                    <button href="https://www.youtube.com/user/AlpineRiverRunners" id="alpineAdventures-button5" class="button button-assertive  button-block button-clear icon ion-social-youtube"></button>
                    <button href="http://www.instagram.com/alpineadventuresrafting/" id="alpineAdventures-button6" class="button button-assertive  button-block button-clear icon ion-social-instagram"></button>
                    <button href="https://plus.google.com/103158777589843148271/posts" id="alpineAdventures-button7" class="button button-assertive  button-block button-clear icon ion-social-googleplus"></button>
                </div>
            </div>
        </div>
        <div class="padding">
        <button href="http://alpineadventures.com" id="alpineAdventures-button4" class="button button-assertive  button-block">Desktop Version</button>
        </div>
        </div>
    </ion-content>
</ion-view>