<ion-view title="Info">
    <ion-content overflow-scroll="true" padding="true" class="has-header white">
        <div class="list card">
            <div class="item item-divider bangers white">When Do We Raft?</div>
            <div class="item item-body white">
                White water rafting trips are generally available 7 days a week during the peak river rafting months in Washington State of May, June, July, August. Our regular season starts at the end of March and runs into September. Skagit River Bald Eagle watching trips run November through February. We raft rain or shine.
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider bangers white">Whats Included?</div>
            <div class="item item-body white">
                All whitewater rafting trips include neoprene booties, neoprene wetsuit, personal flotation device, splash jacket, a helmet when required, shuttle vehicles for transportation, and a trained and experienced river guide.
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider bangers white">What Should I Wear</div>
            <div class="item item-body white">
                <b>Warm Weather:</b> <br>You should wear a swim suit or shorts to go on underneath the wet suit that we will provide. Old shoes or sandals with straps, will work if you do not want to wear the neoprene booties that are provided.
<br><br>
<b>Cold Weather</b> <br> Under the wetsuit: long underwear base layer, under armor, leggings, tights, spandex. Over the wetsuit: a fleece top or a wool sweater, and wool socks inside the booties. will all help provide an extra layer of warmth underneath your wet suit. These items still may get a little wet but will help keep you warm. On the eagle floats you will not be getting wet so wear a coat, hat, and gloves. Sunscreen and lip balm are always recommended. Bring a towel and a change of clothes for after the trip.
            </div>
        </div>
                <div class="list card">
            <div class="item item-divider bangers white">Reservation & Payment Guidelines</div>
            <div class="item item-body white">
              Please make your rafting reservations as soon as possible to ensure the best experience with the least amount of hassle. If you are unsure how many people to book your trip for, make a reservation for the minimum number of confirmed people in your group, then add additional members as they are confirmed. <br> <br> Total payment for trips is due 21 days in advance of your scheduled rafting trip (or upon making the reservation if less than 21 days in advance). If you reserve your trip more than 21 days in advance, it is possible for other members of your rafting group to pay for their portions of the total trip cost using our secure online payment system.
              
              <br><br> Last minute reservations should call at least one day in advance to make sure a spot is available in a raft on the river you'd like to run. Walk-ins are welcome but can not be guaranteed. In order to confirm a trip, a deposit of 50% of the total trip cost is required at the time of booking. Visa and MasterCard accepted. If preferred, you may send a check or money order to: Alpine Adventures, P.O. Box 373, Gold Bar, WA 98251.
            </div>
        </div>
                <div class="list card">
            <div class="item item-divider bangers white">Refund Policies</div>
            <div class="item item-body white">
                A 100% refund can be processed (minus transaction fees) if you cancel your rafting trip at least 30 days in advance of the booked trip date. A 50% refund can be processed (minus transaction fees) if you cancel 10-29 days in advance. No refund will be processed if you cancel less than 10 days prior to your trip or if you don't show up on the day of your trip. If fewer people show up on the trip date, you will be held accountable for all reserved spots. We raft rain or shine!
            </div>
        </div>
    </ion-content>
</ion-view>